header {
    background-color: #E85A4F;
    color: #EAE7DC;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-bottom: 25px;
    font-size: 24px;
    text-align: center;
}

footer {
    background-color: #E85A4F;
    color: #EAE7DC;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

footer > p {

}

.menu {
    display: inline;
}

.menu_items {
    background-color: #737373;
    border: none;
    color: #EAE7DC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-left: 25px;
}

.menu_items:hover {
    background-color: #E98074;
}

.menu_items:active {
    background-color: #E85A4F;
    transform: translateY(4px);
}

.home_page {
    background-image: url(https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);

    padding-top: 250px;
    padding-bottom: 250px;
    margin: 25px;
    color: #EAE7DC;
    text-align: center;
    font-size: 18px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.home_page > h1 {
    background-color: #E85A4F;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: inline-block;
    margin: 75px;
}

.home_page > button {
    background-color: #737373;
    border: none;
    color: #EAE7DC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.home_page > button:hover {
    background-color: #E98074;
}

.home_page > button:active {
    background-color: #E85A4F;
    transform: translateY(4px);
}

.meal_scheduler_before_scheduled {
    background-image: url(https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);

    margin: 25px;
    padding-top: 250px;
    padding-bottom: 250px;
    background-size: cover;
}

.meal_scheduler_before_scheduled > button {
    background-color: #737373;
    border: none;
    color: #EAE7DC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 25px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0 auto;
}

.meal_scheduler_before_scheduled > button:hover {
    background-color: #E98074;
}

.meal_scheduler_before_scheduled > button:active {
    background-color: #E85A4F;
    transform: translateY(4px);
}

.current_meals {
    background-color: #E85A4F;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

    text-align: center;
    margin: 25px;
    padding: 25px;

}

.individual_meal {
    background-color: #737373;
    color: #EAE7DC;
    display: inline-block;
    padding: 50px;
}

.change_meal_button {
    background-color: #EAE7DC;
    border: none;
    color: #737373;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0 auto;
}

.change_meal_button:hover {
    background-color: #E98074;
}

.change_meal_button:active {
    background-color: #E85A4F;
    transform: translateY(4px);
}

.profile_page {
    background-image: url(https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);

    margin: 25px;
    padding-top: 250px;
    padding-bottom: 250px;
    background-size: cover;
}

.profile_placeholder {
    background-color: #737373;
    color: #EAE7DC;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: block;
    margin: 150px;
}

.pdf_export {
    background-color: #EAE7DC;
    border: none;
    color: #737373;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0 auto;
    text-decoration: none;
}
